.call-to-action {
  position: relative;
  background:  no-repeat center center;
  @include background-cover;
  padding-top: 7rem;
  padding-bottom: 7rem;

.row [class*='col-'] {
  background-clip: content-box;
  min-height: 400px;

}

.callout {
  background-color: #fbf065;
}
}
