.call-to-action {
  position: relative;
  background:  no-repeat center center;
  @include background-cover;
  padding-top: 2rem;
  padding-bottom: 2rem;

.row [class*='col-'] {
  background-clip: content-box;
  min-height: 500px;

}

.bg-warning {
  background-color: #fbf065;
}
}
