footer.footer {
  padding-top: 4rem;
  padding-bottom: 140px;

}

div.wpforms-container-full {
     margin-bottom: 0 !important;
}
div.wpforms-container-full {
     margin-left: 0 !important; 
     margin-right: 0 !important; 
}